# Graded Challenge 1

#### Connie Cai

#### Early data exploration & clearning

In [ ]:
#pandas is an open-source, BSD-licensed library for high-performance, easy-to-use data structures & data analytics

import pandas as pd

In [328]:
#read json file 'nadyaokamoto.json' if lines exist

df = pd.read_json('ConnieCai.jsonl',lines=True)

In [329]:
#let's perform some rudimentary exploration into the dataset!
#pandas.DataFrame.head returns by default first n=5 rows. Quickly tests if datatset has right type of data.

df.head()

,data,includes,meta,__twarc,errors
0,"[{'conversation_id': '1571777397602525184', 'c...","{'users': [{'location': 'Greece', 'url': '', '...","{'newest_id': '1571799799208284162', 'oldest_i...",{'url': 'https://api.twitter.com/2/tweets/sear...,NaN
1,"[{'id': '1571799451169329153', 'possibly_sensi...",{'users': [{'profile_image_url': 'https://pbs....,"{'newest_id': '1571799451169329153', 'oldest_i...",{'url': 'https://api.twitter.com/2/tweets/sear...,"[{'resource_id': '1571547606836457473', 'param..."
2,"[{'public_metrics': {'retweet_count': 5800, 'r...","{'media': [{'width': 1280, 'media_key': '7_157...","{'newest_id': '1571799119924178950', 'oldest_i...",{'url': 'https://api.twitter.com/2/tweets/sear...,NaN
3,"[{'lang': 'en', 'public_metrics': {'retweet_co...",{'users': [{'created_at': '2011-06-23T19:29:05...,"{'newest_id': '1571798821369159681', 'oldest_i...",{'url': 'https://api.twitter.com/2/tweets/sear...,NaN
4,[{'in_reply_to_user_id': '1390047298386894850'...,{'users': [{'profile_image_url': 'https://pbs....,"{'newest_id': '1571798526316711938', 'oldest_i...",{'url': 'https://api.twitter.com/2/tweets/sear...,NaN

In [366]:
#pandas.DataFrame.tail returns by default last n=5 rows. Quickly tests if datatset has right type of data.

df.tail()

,data,includes,meta,__twarc,errors
64,"[{'entities': {'mentions': [{'start': 0, 'end'...",{'users': [{'profile_image_url': 'https://pbs....,"{'newest_id': '1571780661157167107', 'oldest_i...",{'url': 'https://api.twitter.com/2/tweets/sear...,"[{'resource_id': '1571758006379106304', 'param..."
65,"[{'public_metrics': {'retweet_count': 0, 'repl...",{'users': [{'description': 'The Foyle Buoy is ...,"{'newest_id': '1571780382097391618', 'oldest_i...",{'url': 'https://api.twitter.com/2/tweets/sear...,NaN
66,"[{'conversation_id': '1571780092824616961', 'e...","{'users': [{'verified': False, 'description': ...","{'newest_id': '1571780092824616961', 'oldest_i...",{'url': 'https://api.twitter.com/2/tweets/sear...,NaN
67,"[{'lang': 'en', 'author_id': '16873576', 'enti...","{'users': [{'username': 'SHB6964', 'id': '1687...","{'newest_id': '1571779789551292416', 'oldest_i...",{'url': 'https://api.twitter.com/2/tweets/sear...,NaN
68,[{'attachments': {'media_keys': ['3_1571777907...,"{'media': [{'width': 1080, 'type': 'photo', 'm...","{'newest_id': '1571779489633570816', 'oldest_i...",{'url': 'https://api.twitter.com/2/tweets/sear...,"[{'resource_id': '1571774735318659072', 'param..."

In [332]:
#pandas.DataFrame.columns returns the column labels of the dataframe.
#let's check what the columns are.

df.columns

Index(['data', 'includes', 'meta', '__twarc', 'errors'], dtype='object')

In [333]:
#Retrieving tweets
#The first function allows us to get all the individual tweets from the dataset.
#It uses `data` and looks for certain information in it.
#When applied to a dataframe, we can obtain a new dataframe with a individual tweet as the unit of analysis.
#Credited to the University of Amsterdam's Digital Analysis course.

def get_public_metrics(row):
    if 'public_metrics' in row.keys():
        if type(row['public_metrics']) == dict:
            for key, value in row['public_metrics'].items():
                row['metric_' + str(key)] = value
    return row

def get_tweets(df):
    if 'data' not in df.columns:
        return None
    results = pd.DataFrame()
    for item in df['data'].values.tolist():
        results = pd.concat([results, pd.DataFrame(item)])
        
    results = results.apply(get_public_metrics, axis=1)
        
    results = results.reset_index()
    del results['index']
        
    return results

In [334]:
#move get_tweets(df) into  tweets

tweets = get_tweets(df)

In [335]:
#display by default the first n=5 rows of the dataframe

tweets.head()

,conversation_id,created_at,text,possibly_sensitive,lang,id,public_metrics,referenced_tweets,author_id,in_reply_to_user_id,entities,source,reply_settings,context_annotations,attachments,geo,metric_retweet_count,metric_reply_count,metric_like_count,metric_quote_count
0,1571777397602525184,2022-09-19T09:54:09.000Z,"@apmassaro3 ""If you’re not ok with genocide.....",False,en,1571799799208284162,"{'retweet_count': 0, 'reply_count': 0, 'like_c...","[{'type': 'replied_to', 'id': '157177739760252...",812610829048774656,888183349864476672,"{'mentions': [{'start': 0, 'end': 11, 'usernam...",Twitter for Android,everyone,NaN,NaN,NaN,0,0,0,0
1,1571799798403022848,2022-09-19T09:54:09.000Z,"RT @trishlarani42: When we meditate,the mind b...",False,en,1571799798403022848,"{'retweet_count': 89, 'reply_count': 0, 'like_...","[{'type': 'retweeted', 'id': '1571692709152428...",1303927910995238912,NaN,"{'annotations': [{'start': 70, 'end': 95, 'pro...",Twitter for Android,everyone,"[{'domain': {'id': '65', 'name': 'Interests an...",NaN,NaN,89,0,0,0
2,1571791743649185792,2022-09-19T09:54:08.000Z,@liamsmylittleli This month - grandma got hit ...,False,en,1571799796737769472,"{'retweet_count': 0, 'reply_count': 0, 'like_c...","[{'type': 'replied_to', 'id': '157179810222648...",1281553690634129409,1499314423739125761,"{'mentions': [{'start': 0, 'end': 16, 'usernam...",Twitter for iPhone,everyone,NaN,NaN,NaN,0,0,0,0
3,1571799790442389504,2022-09-19T09:54:07.000Z,About to watch Queen Elizabeth II’s funeral @U...,False,en,1571799790442389504,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",NaN,62743792,NaN,"{'urls': [{'start': 226, 'end': 249, 'url': 'h...",Twitter for iPhone,everyone,"[{'domain': {'id': '46', 'name': 'Business Tax...",{'media_keys': ['3_1571799781189599233']},NaN,0,0,0,0
4,1571799787178958849,2022-09-19T09:54:06.000Z,RT @jd_occasionally: the period ah girl GOT A ...,False,en,1571799787178958849,"{'retweet_count': 2127, 'reply_count': 0, 'lik...","[{'type': 'retweeted', 'id': '1571666018056929...",1017128918996979712,NaN,"{'urls': [{'start': 62, 'end': 85, 'url': 'htt...",Twitter for Android,everyone,NaN,{'media_keys': ['7_1529521523857530882']},NaN,2127,0,0,0

In [336]:
#display the last n=5 rows of the dataframe

tweets.tail()

,conversation_id,created_at,text,possibly_sensitive,lang,id,public_metrics,referenced_tweets,author_id,in_reply_to_user_id,entities,source,reply_settings,context_annotations,attachments,geo,metric_retweet_count,metric_reply_count,metric_like_count,metric_quote_count
6848,1571779204714217472,2022-09-19T08:32:19.000Z,Denmark Have Theory Period Margins Newly\n؟?\n...,False,en,1571779204714217472,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",NaN,515578103,NaN,"{'annotations': [{'start': 0, 'end': 6, 'proba...",Echofon Android,everyone,NaN,NaN,NaN,0,0,0,0
6849,1571779200989773824,2022-09-19T08:32:18.000Z,RT @MrMatthewTodd: ‘This period may be a rare ...,False,en,1571779200989773824,"{'retweet_count': 1096, 'reply_count': 0, 'lik...","[{'type': 'retweeted', 'id': '1571478454310408...",19483447,NaN,"{'mentions': [{'start': 3, 'end': 17, 'usernam...",Twitter for iPhone,everyone,NaN,NaN,NaN,1096,0,0,0
6850,1571779198577942529,2022-09-19T08:32:17.000Z,"RT @KirstieMAllsopp: Just called my sister, sh...",False,en,1571779198577942529,"{'retweet_count': 25, 'reply_count': 0, 'like_...","[{'type': 'retweeted', 'id': '1571743741890756...",620281547,NaN,"{'annotations': [{'start': 58, 'end': 65, 'pro...",Twitter for iPhone,everyone,"[{'domain': {'id': '10', 'name': 'Person', 'de...",NaN,NaN,25,0,0,0
6851,1571779197370241025,2022-09-19T08:32:17.000Z,RT @_BBWUniversity_: Because it's her for US!!...,False,en,1571779197370241025,"{'retweet_count': 15, 'reply_count': 0, 'like_...","[{'type': 'retweeted', 'id': '1570518921098440...",1431331441980416005,NaN,"{'mentions': [{'start': 3, 'end': 19, 'usernam...",Twitter for Android,everyone,NaN,"{'media_keys': ['3_1570518892761448449', '3_15...",NaN,15,0,0,0
6852,1571779197265186816,2022-09-19T08:32:17.000Z,RT @FinPlanKaluAja1: A few figures from OPEC\n...,False,en,1571779197265186816,"{'retweet_count': 158, 'reply_count': 0, 'like...","[{'type': 'retweeted', 'id': '1571734526371729...",3381557153,NaN,"{'annotations': [{'start': 40, 'end': 43, 'pro...",Twitter Web App,everyone,"[{'domain': {'id': '131', 'name': 'Unified Twi...",NaN,NaN,158,0,0,0

In [337]:
#display the columns in the dataframe

tweets.columns

Index(['conversation_id', 'created_at', 'text', 'possibly_sensitive', 'lang',
       'id', 'public_metrics', 'referenced_tweets', 'author_id',
       'in_reply_to_user_id', 'entities', 'source', 'reply_settings',
       'context_annotations', 'attachments', 'geo', 'metric_retweet_count',
       'metric_reply_count', 'metric_like_count', 'metric_quote_count'],
      dtype='object')

### 1. How many tweets are in your dataset?

In [338]:
#There are two ways to perform this.
#This is the most convulated method.

tweets.count()

conversation_id         6853
created_at              6853
text                    6853
possibly_sensitive      6853
lang                    6853
id                      6853
public_metrics          6853
referenced_tweets       5628
author_id               6853
in_reply_to_user_id     1101
entities                6122
source                  6853
reply_settings          6853
context_annotations     2265
attachments             1306
geo                       46
metric_retweet_count    6853
metric_reply_count      6853
metric_like_count       6853
metric_quote_count      6853
dtype: int64

In [339]:
#The second way is to use len() function.
#len() returns the number of items.

length = len(tweets)

print ("The number of tweets in this dataset is:",int(length),".")

The number of tweets in this dataset is: 6853 .

### 2. What columns does the dataset contain and what is their data type?

In [340]:
#Let's remind ourselves what the column labels in this dataset is

tweets.columns

Index(['conversation_id', 'created_at', 'text', 'possibly_sensitive', 'lang',
       'id', 'public_metrics', 'referenced_tweets', 'author_id',
       'in_reply_to_user_id', 'entities', 'source', 'reply_settings',
       'context_annotations', 'attachments', 'geo', 'metric_retweet_count',
       'metric_reply_count', 'metric_like_count', 'metric_quote_count'],
      dtype='object')

In [341]:
#Let's check the data type of the columns.
#Data type is the classification or categorization of knowledge items.
#The data types in pandas are: object, int64, float64, bool, datetime64, etc.
#Here, object is str/Text or mixed numeric and non-numeric values.
#Here, int64 is Integer numbers.
#Here, bool is Boolean.

tweets.dtypes

conversation_id         object
created_at              object
text                    object
possibly_sensitive        bool
lang                    object
id                      object
public_metrics          object
referenced_tweets       object
author_id               object
in_reply_to_user_id     object
entities                object
source                  object
reply_settings          object
context_annotations     object
attachments             object
geo                     object
metric_retweet_count     int64
metric_reply_count       int64
metric_like_count        int64
metric_quote_count       int64
dtype: object

### 3. Are there any missing values?

In [342]:
#pandas.Dataframe.isna() function is used to detect missing values.
#It returns a boolean: true or false so true means there is missing values.

tweets.isna()

,conversation_id,created_at,text,possibly_sensitive,lang,id,public_metrics,referenced_tweets,author_id,in_reply_to_user_id,entities,source,reply_settings,context_annotations,attachments,geo,metric_retweet_count,metric_reply_count,metric_like_count,metric_quote_count
0,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False
3,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6848,False,False,False,False,False,False,False,True,False,True,False,False,False,True,True,True,False,False,False,False
6849,False,False,False,False,False,False,False,False,False,True,False,False,False,True,True,True,False,False,False,False
6850,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,True,False,False,False,False
6851,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,True,False,False,False,False
6852,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,True,False,False,False,False

In [379]:
#pandas.Dataframe.isna() has let us know there were indeed missing values. But how many?
#sum() function sums up to to count the na (that are True in the isna()) values.

tweets.isna().sum()

#yes, there are missing values in referenced_tweets, in_reply_to_use_id, entities, context_annotations,attachments,geo

conversation_id            0
created_at                 0
text                       0
possibly_sensitive         0
lang                       0
id                         0
public_metrics             0
referenced_tweets       1225
author_id                  0
in_reply_to_user_id     5752
entities                 731
source                     0
reply_settings             0
context_annotations     4588
attachments             5547
geo                     6807
metric_retweet_count       0
metric_reply_count         0
metric_like_count          0
metric_quote_count         0
num_tweets                 0
source_counter             0
dummydate                  0
date                       0
dtype: int64

### 4. What is the lowest number, highest number, average and the standard deviation of retweets and favorites?

In [344]:
#We are only concerned with retweets & favorites (Twitter has renamed like).
#pandas.DataFrame.describe() function generates descriptive statistics.
#Here, it shows too much information as what is needed is:
    #lowest number = min, highest number = max, average = mean, and standard deviation = std

tweets.describe()

,metric_retweet_count,metric_reply_count,metric_like_count,metric_quote_count
count,6853.00000,6853.00000,6853.00000,6853.00000
mean,2182.71268,0.09193,0.44346,0.01678
std,5663.77339,0.58589,4.66976,0.53987
min,0.00000,0.00000,0.00000,0.00000
25%,0.00000,0.00000,0.00000,0.00000
50%,14.00000,0.00000,0.00000,0.00000
75%,618.00000,0.00000,0.00000,0.00000
max,46182.00000,32.00000,217.00000,42.00000

In [345]:
#Before that, let us explore descriptive statistics per retweets.
#This is, understandably, showing us too much information.

tweets['metric_retweet_count'].describe()

count    6853.00000
mean     2182.71268
std      5663.77339
min         0.00000
25%         0.00000
50%        14.00000
75%       618.00000
max     46182.00000
Name: metric_retweet_count, dtype: float64

In [346]:
#Before that, let us explore descriptive statistics per favorites (likes).
#This is, understandably, showing us too much information.

tweets['metric_like_count'].describe()

count   6853.00000
mean       0.44346
std        4.66976
min        0.00000
25%        0.00000
50%        0.00000
75%        0.00000
max      217.00000
Name: metric_like_count, dtype: float64

In [347]:
#pandas.DataFrame.agg() allows list of function names on the axes of the dataframe.
#Axes are retweet aka 'metric_retweet_count'and favorites aka 'metric_like_count'.
#Function names are min, max, mean, and std.

tweets[['metric_retweet_count', 'metric_like_count']].agg(['min','max','mean','std'])

      metric_retweet_count  metric_like_count
min                0.00000            0.00000
max            46182.00000          217.00000
mean            2182.71268            0.44346
std             5663.77339            4.66976

### 5. What is the most common language of the tweets?

In [348]:
#value_counts()series gets containing the counts of unique values
#this does not however only show us the most common language- it shows us the list of all the languages

tweets['lang'].value_counts()

en     6068
th      142
in       91
es       90
ko       85
cy       80
und      77
ca       51
ja       36
tl       27
ht       17
fr       14
ro       13
pt        9
ru        7
et        7
sv        7
it        5
pl        5
cs        3
qme       3
hi        3
no        2
zxx       2
de        2
nl        2
ml        1
zh        1
ar        1
vi        1
lt        1
Name: lang, dtype: int64

In [349]:
#We could do it differently.
#mode() from package statistics takes dataset as parameter and returns the mode.

from statistics import mode

#let's see what it does
tweets['lang'].mode()

#let's get the answer to the most common language of the tweets
print ("Mode of language is % s" % (mode(tweets['lang'])),"so it is the most common language.")

Mode of language is en so it is the most common language.

In [350]:
#let's continue this! This mode() method can be done on other columns
#considering it is actually useful for it to be performed on the type of data
#not as useful for columns like metric_reply_count, metric_retweet_count
#very useful for geo

#let's remind ourselves what the columns are
print (tweets.columns)

#*s is string formatting syntax
print ("Mode of source is % s" % (mode(tweets['source'])),"so it is the most source.")

Index(['conversation_id', 'created_at', 'text', 'possibly_sensitive', 'lang',
       'id', 'public_metrics', 'referenced_tweets', 'author_id',
       'in_reply_to_user_id', 'entities', 'source', 'reply_settings',
       'context_annotations', 'attachments', 'geo', 'metric_retweet_count',
       'metric_reply_count', 'metric_like_count', 'metric_quote_count'],
      dtype='object')
Mode of source is Twitter for iPhone so it is the most source.

### 6. Who are the top 5 author_ids with the most tweets on your dataset?

In [351]:
#Retrieving users & media
#This function returns a dataframe that contains all users that tweeted in our dataset.
#An individual user is the unit of analysis here.
#Credited to the University of Amsterdam's Digital Analysis course.


#Create a new dummy counter column to 1 because everytime it counts each tweet once.

tweets['num_tweets'] = 1

#groupby() function groups tweets by 'author_id'.
#agg() applies sum() function to 'num_tweets'.

new_tweets = tweets.groupby('author_id').agg({'num_tweets': 'sum'})

#sort_values() with an additional parameter ascending which makes sure it sorts from highest to lowest.

new_tweets = new_tweets.sort_values('num_tweets',ascending=False)

#head() function displays by default first n=5 rows.
#This is all that is necessary.

new_tweets.head()

                     num_tweets
author_id
15723264                     11
1555920175790059524           9
3023183266                    8
1517487412628254720           8
1567465683834867712           8

### 7. Write a function that categorizes the tweet based on information available in one of the columns.

(e.g., lang, metric_retweet_count, possibly_sensitive, or some other column). 
It's up to you to define what this function should do (and explain it). One possibility is to create a function that returns 1 if the tweet belongs to a certain category, and 0 if it does not. You can be more creative than this (see Rubric on Canvas). This week, we ask you to write the function and test if it works (following the tutorial). You will learn how to apply it to the dataframe next week.

In [388]:
a = ["one","two","three","one","four","one"]

one = 0
two = 0
three = 0
four = 0

for i in range(len(a)):
    if a[i] == "one":
        one+=1
    if a[i] == "two":
        two+=1

print(one, two)

3 1

#### How often does the words related to period show up in the dataset?

In [372]:
#count_periods() function counts the # of times that the words related to 'period' show up in the datatset.
#f creates a f-string which allows you to include variables in strings.
#where do I put the return?

def count_periods(tweets):

    period_counter = 0
    not_period_counter = 0

    for i in range(len(tweets)):
        if any(word in tweets['text'][i].lower() for word in ['period','menstruation','menstrual']):
            period_counter += 1
        else:
            not_period_counter += 1

    return period_counter, not_period_counter        
    
 #   print(f'Period is in {period_counter} tweets, and period is not in {not_period_counter} tweets')

In [378]:
#let's try this function!

period_counter, not_period_counter = count_periods(tweets)

print(f'Period is in {period_counter} tweets, and period is not in {not_period_counter} tweets')

Period is in 5429 tweets, and period is not in 1424 tweets

In [354]:
#let's see which tweets period shows up in.
#adapt the count_periods function

def count_show_periods(tweets):

    period_counter = 0
    not_period_counter = 0

    for i in range(len(tweets)):
        if any(word in tweets['text'][i].lower() for word in ['period','menstruation','menstrual']):
            period_counter += 1
        else:
            not_period_counter += 1
    print(f'Period is in {period_counter} tweets, and period is not in {not_period_counter} tweets')

#### What is the most common source of tweet?

In [355]:
#count_source() function generates the most common source of tweets.

def count_source(tweets):

    tweets['source_counter'] = 1

    new_source = tweets.groupby('source').agg({'source_counter': 'sum'})

#sort_values() with an additional parameter ascending which makes sure it sorts from highest to lowest.

    new_source = new_source.sort_values('source_counter',ascending=False)

    return new_source.head()

In [356]:
#let's try this function!

count_source(tweets)

                     source_counter
source
Twitter for iPhone             2553
Twitter for Android            2497
Twitter Web App                1206
Echofon  Android                217
Twitter for iPad                122

#### What is the tweet with the most characters?

In [357]:
#tweet_most_characters() generates the tweet with the most characters.
#where do I put return?

def tweet_most_characters(tweets):

    characters = 0

    for tweet in tweets['text']:
        xcharacters = len(tweet)
        if xcharacters > characters:
            characters = xcharacters
            twt = tweet
    
    print ("The tweet with the most characters has:", characters, ",and the entire tweet is:",twt)

In [358]:
tweet_most_characters(tweets)

The tweet with the most characters has: 676 ,and the entire tweet is: @Vosbelh @sw_hi_coo @CrazyReii @netvoke @ohginger_snaps @smashli1228 @TJ_onfire @dcffk @JackieFrancesca @Goodtrouble79 @joefu82 @mr_JasonW @Aiyah02436291 @AsherSummerson @JGainsbourgh @pixposies @____Roar____ @JBaschel @Scum__Manifesto @sd_usn @maqart55 @annaeck73 @Vosredh56 @atriana @gginalski @DanStraitIAm @SkepticSplinter @LogicNReason22 @unionwoman226 @BilboBa62021773 @stevieanntas @Kuntrella @amye783 @Car53134231 @dcfloridasport @FakeDanWeber @JCAKE12 @SHEsus__Christ I can handle pain. That is why we can give birth. That is why men don't do it. They could not handle a period let alone 9 months of something else controlling your body. You are too weak and selfish.

#### What is the tweet with the most words?

In [359]:
#tweet with the most words

words = 0

for tweet in tweets['text']:
    y = len(tweet.split(" "))
    if y > words:
        words = y
        twt = tweet
        
print (words,twt)

78 @Vosbelh @sw_hi_coo @CrazyReii @netvoke @ohginger_snaps @smashli1228 @TJ_onfire @dcffk @JackieFrancesca @Goodtrouble79 @joefu82 @mr_JasonW @Aiyah02436291 @AsherSummerson @JGainsbourgh @pixposies @____Roar____ @JBaschel @Scum__Manifesto @sd_usn @maqart55 @annaeck73 @Vosredh56 @atriana @gginalski @DanStraitIAm @SkepticSplinter @LogicNReason22 @unionwoman226 @BilboBa62021773 @stevieanntas @Kuntrella @amye783 @Car53134231 @dcfloridasport @FakeDanWeber @JCAKE12 @SHEsus__Christ I can handle pain. That is why we can give birth. That is why men don't do it. They could not handle a period let alone 9 months of something else controlling your body. You are too weak and selfish.

#### What is the tweet with most words & its author id?

In [360]:
#tweets with the most words & author id

def longest_tweet_finder(tweets):
    words = 0

    for i in range(len(tweets)):
        y = len(tweets['text'][i].split(" "))
        if y > words:
            words = y
            twt = tweets['text'][i]
            author = tweets['author_id'][i]
    return words, twt, author

In [361]:
longest_tweet_finder(tweets)

(78,
 "@Vosbelh @sw_hi_coo @CrazyReii @netvoke @ohginger_snaps @smashli1228 @TJ_onfire @dcffk @JackieFrancesca @Goodtrouble79 @joefu82 @mr_JasonW @Aiyah02436291 @AsherSummerson @JGainsbourgh @pixposies @____Roar____ @JBaschel @Scum__Manifesto @sd_usn @maqart55 @annaeck73 @Vosredh56 @atriana @gginalski @DanStraitIAm @SkepticSplinter @LogicNReason22 @unionwoman226 @BilboBa62021773 @stevieanntas @Kuntrella @amye783 @Car53134231 @dcfloridasport @FakeDanWeber @JCAKE12 @SHEsus__Christ I can handle pain. That is why we can give birth. That is why men don't do it. They could not handle a period let alone 9 months of something else controlling your body. You are too weak and selfish.",
 '263323353')

#### What is the longest word in tweets?

In [362]:
#longest word in tweets
def longest_word_finder(tweets):
    longword = 0

    for tweet in tweets['text']:
        a = tweet.split(" ")
        for word in a:
            b = len(word)
            if b > longword:
                longword = b
                longest_word = word

    return longest_word

In [363]:
#test the function

longest_word_finder(tweets)

'\n\n支那做的到、也不關台灣的尿事、為什麼支那做這些、我們台灣就ㄧ定要和支那痛一起？！關台灣屁事、台灣走台灣的路！支那這麼喜歡統、就是找韓國或是新加坡統去らぁ！かん！りんジャーエ支那らんロンシジェンセイまぁ？キビぃーアキホかぁ-うかんらぁ！台湾かん支那関係ない❗️period!'

#### What are the top dates that had the most tweets?

In [364]:
#7 days, but I want to categorize number of tweets per day
#example data: 2022-09-18T18:02:56.000Z. This is an object: combo of strings & ints
#can be split into two parts with T

#get_date() function splits the date at T.

def get_date(datestamp):
    return datestamp.split("T")[0]

#let's categorize the dates
#create a new column called 'dummydate'

tweets['dummydate'] = 1


tweets['date'] = tweets['created_at'].apply(lambda datestamp: get_date(datestamp))
new_tweets = tweets.groupby('date').agg({'dummydate': 'sum'})
new_tweets = new_tweets.sort_values('dummydate',ascending=False)

#head() function displays by default first n=5 rows.

new_tweets.head()

            dummydate
date
2022-09-19       6853

## Reflection

The literature you have read discusses important measurement and ethical challenges for the so-callled *algorithmically-infused societies*. 

Select one relevant measurement challenge from Wagner et al. (2021) and one relevant ethical challenge from Salz & Dewar (2019), and relate to the Twitter data you have just loaded and reviewed. How is the stakeholder report on your dataset and measures that you have just written (in the interpretation section) affected by these measurement and ethical challenges?

*Wordcount: maximum 500 words. Please inform the wordcount in this section.*